% --------------- %
% ---  JOB    --- %
% --------------- %

Job: top2lSSfeatures  
  CmeLabel: 13 TeV
  POI: mu_XS_ttH
  ReadFrom: NTUP
  NtuplePaths: /data_ceph/afwebb/higgs_diff/addFeatures/top2lSS/
  LumiLabel: 80 fb^{-1} %140 fb^{-1}
  Lumi: 79888.3 %138965.2 % pb^-1
  %InputName: ttHML
  PlotOptions: YIELDS %NORATIO
  SplitHistoFiles: True
  NtupleName: nominal
  ImageFormat: png
  SystControlPlots: TRUE
  SystErrorBars: TRUE
  SystPruningShape: 0.005
  SystPruningNorm: 0.005
  SystLarge: 3
  CorrelationThreshold: 0.05
  RankingMaxNP: 30
  HistoChecks: NOCRASH
  ReplacementFile: /data_ceph/afwebb/updated_trex/TRExFitter/higgsDiffConfigs/configs/replacement_ab127.txt

% --------------- %
% ---  FIT    --- %
% --------------- %

Fit: fit
  FitType: SPLUSB
  FitRegion: CRSR
  %FitBlind: TRUE
  NumCPU: 15
  POIAsimov: 1
  UseMinos: mu_XS_ttH

Limit: limit
  LimitType: ASYMPTOTIC
  POIAsimov: 1
  SignalInjection: TRUE

% --------------- %
% - NORMFACTORS - %
% --------------- %

NormFactor: mu_XS_ttH
  Title: mu_XS_ttH
  Nominal: 1
  Min: -10
  Max: 20
  Samples: ttH
  Constant: FALSE


