 
% --------------- %
% --- REGIONS --- %
% --------------- %

Region: recoHiggsPt_2lSS
  Type: VALIDATION
  Label: "recoHiggsPt_2lSS"
  VariableTitle: "reco Higgs p_{T} - 2lSS"
  Variable: "recoHiggsPt_2lSS/1000",10,20,300
  Selection: total_leptons==2

Region: binHiggsPt_2lSS                                                                                                     
  Type: VALIDATION
  Label: "binHiggsPt_2lSS"                                                                                                  
  VariableTitle: "bin Higgs p_{T} - 2lSS"                                                                                   
  Variable: "binHiggsPt_2lSS",10,0,1
  Selection: total_leptons==2

Region: higgsRecoScore2lSS                                                 
  Type: VALIDATION                                                                                                           
  Label:"higgsRecoScore2lSS"                                                           
  VariableTitle: "Higgs Reco Score - 2lSS"
  Variable: "higgsRecoScore2lSS",15,0,0.6
  Selection: total_leptons==2

Region: topRecoScore                                                            
  Type: VALIDATION
  Label:"topRecoScore"
  VariableTitle: "b-jet Reco Score - 2lSS"
  Variable: "topRecoScore",12,0,1
  Selection: total_leptons==2

Region: sigBkg_2lSS
  Type: VALIDATION
  Label:"sigBkg_2lSS"
  VariableTitle: "Bkg MVA - 2lSS"
  Variable: "sigBkg_2lSS",12,0,0.75
  Selection: total_leptons==2  

Region: sigBkg_2lSS_highPt
  Type: VALIDATION                                                                                                           
  Label:"sigBkg_2lSS_highPt"   
  VariableTitle: "Bkg MVA - high p_{T} 2lSS"
  Variable: "sigBkg_2lSS_highPt",10,0,0.8
  Selection: binHiggsPt_2lSS>0.5

Region: sigBkg_2lSS_lowPt
  Type: VALIDATION
  Label:"sigBkg_2lSS_lowPt"
  VariableTitle: "Bkg MVA - low p_{T} 2lSS"                                                                               
  Variable: "sigBkg_2lSS_lowPt",10,0,0.7
  Selection: binHiggsPt_2lSS<0.5

Region: lead_jetPt
  Type: VALIDATION
  Label:"lead_jetPt"
  VariableTitle: "lead jet p_{T}"
  Variable: "lead_jetPt",12,0,500000
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: sublead_jetPt
  Type: VALIDATION
  Label:"sublead_jetPt"
  VariableTitle: "sublead jet p_{T}"
  Variable: "sublead_jetPt",12,0,500000
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: lep_Pt_0
  Type: VALIDATION
  Label:"lep_Pt_0"
  VariableTitle: "lepton Pt"
  Variable: "lep_Pt_0",12,0,300000
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: lep_Pt_1
  Type: VALIDATION
  Label:"lep_Pt_1"
  VariableTitle: "lepton Pt 1"
  Variable: "lep_Pt_1",12,0,300000
  Selection: total_leptons==2

Region: MET
  Type: VALIDATION
  Label:"MET"
  VariableTitle: "E_{T}^{miss}"
  Variable: "met_met",12,0,300000
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: HT
  Type: VALIDATION
  Label:"HT"
  VariableTitle: "H_{T}"
  Variable: "HT",12,100000,1300000
  Selection: total_leptons==2

Region: Mll01
  Type: VALIDATION
  Label:"Mll01"
  VariableTitle: "M(l_{0}l_{1})"
  Variable: "Mll01",12,0,325000
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: nJets
  Type: VALIDATION
  Label:"nJets"
  VariableTitle: "nJets"
  Variable: "nJets_OR_fixed",12,0,12
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: nbJets
  Type: VALIDATION
  Label:"nbJets"
  VariableTitle: "nJets_OR_DL1r_70"
  Variable: "nJets_OR_T_DL1r_70",6,0,6
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: jet_pt                                                                                                               
  Type: VALIDATION                                                                                                          
  Label:"jet_pt"
  VariableTitle: "jet_pt"
  Variable: "jet_pt",25,0,250000
  Selection: abs(jet_eta)<2.4 && jet_pt>10e3 && jet_jvt>0.59
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: jet_pt15                                                                                              
  Type: VALIDATION                                                                                                           
  Label:"jet_pt15"                                     
  VariableTitle: "jet_pt"
  Variable: "jet_pt",12,0,225000
  Selection: abs(jet_eta)<2.4 && jet_pt>15e3 && jet_jvt>0.59
  Selection: total_leptons==2
  %DataType: ASIMOV

Region: jet_eta
  Type: VALIDATION
  Label:"jet_eta"      
  VariableTitle: "jet_eta"   
  Variable: "jet_eta",12,-2.5,2.5
  Selection: abs(jet_eta)<2.4 && jet_pt>10e3 && jet_jvt>0.59
  Selection: total_leptons==2               
  %DataType: ASIMOV

Region: lep_promptLeptonVeto_TagWeight_0
  Type: VALIDATION
  Label: "lep_promptLeptonVeto_TagWeight_0"
  VariableTitle: "lep_promptLeptonVeto_TagWeight_0"
  Variable: "lep_promptLeptonVeto_TagWeight_0",12, -1, 0

Region: lep_promptLeptonVeto_TagWeight_1
  Type: VALIDATION
  Label: "lep_promptLeptonVeto_TagWeight_1"
  VariableTitle: "lep_promptLeptonVeto_TagWeight_1"
  Variable: "lep_promptLeptonVeto_TagWeight_1",12, -1, 0

Region: r2016                                                                                                                
 Type: VALIDATION                                                                                                            
 Label:"2016"                                                                                                                
 VariableTitle: "NEvts"                                                                                                      
 Variable: "1",1,0,1                                                                                                         
 Selection: "RunYear<2017 && total_leptons==2"                                                                               

Region: r2017                                                                                                                
  Type: VALIDATION                                                                                                          
  Label:"2017"                                                                                                               
  VariableTitle: "NEvts"                                                                                                     
  Variable: "1",1,0,1                                                                                                        
  Selection: "RunYear==2017 && total_leptons==2"

Region: r2018                                                                                                                
  Type: VALIDATION
  Label: "2018"                                                                                                              
  VariableTitle: "NEvts"                                                                                                     
  Variable: "1",1,0,1                                                                                                        
  Selection: "RunYear==2018 && total_leptons==2"