
% --------------- %
% --- REGIONS --- %
% --------------- %

Region: recoHiggsPt_2lSS
  Type: SIGNAL
  Label: "recoHiggsPt_2lSS"
  VariableTitle: "reco Higgs p_{T} - 2lSS"
  Variable: "recoHiggsPt_2lSS-4/1000",15,0,400
  Selection: XXX_MVA_2lSS
  DataType: ASIMOV

Region: recoHiggsPt_3lS
  Type: SIGNAL
  Label: "recoHiggsPt_3lS"
  VariableTitle: "reco Higgs p_{T} - 3lS"
  Variable: "recoHiggsPt_3lS/1000",15,0,375
  Selection: decayScore<XXX_decayCut && XXX_MVA_3lS
  DataType: ASIMOV		     

Region: recoHiggsPt_3lF
  Type: SIGNAL
  Label: "recoHiggsPt_3lF"
  VariableTitle: "reco Higgs p_{T} - 3lF"
  Variable: "recoHiggsPt_3lF/1000",15,0,325
  Selection: decayScore>XXX_decayCut && XXX_MVA_3lF
  DataType: ASIMOV

Region: binHiggsPt_2lSS
  Type: VALIDATION
  Label: "binHiggsPt_2lSS"
  VariableTitle: "bin Higgs p_{T} - 2lSS"
  Variable: "binHiggsPt_2lSS",15,0,1
  Selection: XXX_MVA_2lSS
  DataType: ASIMOV

Region: binHiggsPt_3lS
  Type: VALIDATION
  Label: "binHiggsPt_3lS"
  VariableTitle: "bin Higgs p_{T} - 3lS"
  Variable: "binHiggsPt_3lS",15,0,1
  Selection: decayScore<XXX_decayCut && XXX_MVA_3lS
  DataType: ASIMOV

Region: binHiggsPt_3lF
  Type: VALIDATION
  Label: "binHiggsPt_3lF"
  VariableTitle: "bin Higgs p_{T} - 3lF"
  Variable: "binHiggsPt_3lF",15,0,1
  Selection: decayScore>XXX_decayCut && XXX_MVA_3lF
  DataType: ASIMOV