
% --------------- %
% --- REGIONS --- %
% --------------- %

Region: recoHiggsPt_3lS
  Type: VALIDATION
  Label: "recoHiggsPt_3lS"
  VariableTitle: "reco Higgs p_{T} - 3lS"
  Variable: "recoHiggsPt_3lS/1000",10,0,375
  Selection: decayScore<XXX_decayCut

Region: recoHiggsPt_3lF
  Type: VALIDATION
  Label: "recoHiggsPt_3lF"
  VariableTitle: "reco Higgs p_{T} - 3lF"
  Variable: "recoHiggsPt_3lF/1000",10,0,350
  Selection: decayScore>XXX_decayCut

Region: binHiggsPt_3lS
  Type: VALIDATION
  Label: "binHiggsPt_3lS"
  VariableTitle: "bin Higgs p_{T} - 3lS"
  Variable: "binHiggsPt_3lS", 10,0,1
  Selection: decayScore<XXX_decayCut

Region: binHiggsPt_3lF                                                                                                    
  Type: VALIDATION
  Label: "binHiggsPt_3lF"                                                                                                   
  VariableTitle: "bin Higgs p_{T} - 3lF"                                                                                    
  Variable: "binHiggsPt_3lF", 10,0,1
  Selection: decayScore>XXX_decayCut

Region: decayScore
  Type: VALIDATION
  Label:"decayScore"
  VariableTitle: "decayScore"
  Variable: "decayScore",12,0,0.75

Region: higgsRecoScore3lS
  Type: VALIDATION
  Label:"higgsRecoScore3lS"
  VariableTitle: "Higgs Reco Score - 3lS"
  Variable: "higgsRecoScore3lS",15,0,0.5                                                                                    
  Selection: decayScore<XXX_decayCut
                                                                                                                             
Region: higgsRecoScore3lF
  Type: VALIDATION
  Label:"higgsRecoScore3lF"
  VariableTitle: "Higgs Reco Score - 3lF"
  Variable: "higgsRecoScore3lF",15,0.45,1                                                                              
  Selection: decayScore>XXX_decayCut

Region: sigBkg_3lF
  Type: VALIDATION
  Label:"sigBkg_3lF"
  VariableTitle: "Bkg MVA - 3lF"
  Variable: "sigBkg_3lF",8,0,0.8
  Selection: decayScore>XXX_decayCut

Region: sigBkg_3lF_highPt                                                                                                   
  Type: VALIDATION                                                                                                           
  Label:"sigBkg_3lF_highPt"                                                                                                 
  VariableTitle: "Bkg MVA - high p_{T} 3lF"
  Variable: "sigBkg_3lF_highPt",8,0,0.8
  Selection: decayScore>XXX_decayCut && binHiggsPt_3lF>0.5 

Region: sigBkg_3lF_lowPt                                                                                                    
  Type: VALIDATION                                                                                                           
  Label:"sigBkg_3lF_lowPt"
  VariableTitle: "Bkg MVA - low p_{T} 3lF"
  Variable: "sigBkg_3lF_lowPt",8,0,0.8
  Selection: decayScore>XXX_decayCut && binHiggsPt_3lF<0.5

Region: sigBkg_3lS
  Type: VALIDATION
  Label:"sigBkg_3lS"
  VariableTitle: "Bkg MVA - 3lS"
  Variable: "sigBkg_3lS",15,0,0.8
  Selection: decayScore<XXX_decayCut

Region: sigBkg_3lS_highPt                                                                                                   
  Type: VALIDATION                                                                                                           
  Label:"sigBkg_3lS_highPt"                                                                                                 
  VariableTitle: "Bkg MVA - high p_{T} 3lS"
  Variable: "sigBkg_3lS_highPt",8,0,0.8
  Selection: decayScore<XXX_decayCut && binHiggsPt_3lS>0.5

Region: sigBkg_3lS_lowPt                                                                                                    
  Type: VALIDATION                                                                                                           
  Label:"sigBkg_3lS_lowPt"
  VariableTitle: "Bkg MVA - low p_{T} 3lS"
  Variable: "sigBkg_3lS_lowPt",8,0,0.8
  Selection: decayScore<XXX_decayCut && binHiggsPt_3lS<0.5

Region: topRecoScore
  Type: VALIDATION
  Label:"topRecoScore"
  VariableTitle: "b-jet Reco Score - 3l"
  Variable: "topRecoScore",15,0,1 
  Selection: total_leptons==3

Region: lead_jetPt
  Type: VALIDATION
  Label:"lead_jetPt"
  VariableTitle: "lead jet p_{T}"
  Variable: "lead_jetPt",20,0,500000
  Selection: total_leptons==3 
  %DataType: ASIMOV

Region: sublead_jetPt
  Type: VALIDATION
  Label:"sublead_jetPt"
  VariableTitle: "sublead jet p_{T}"
  Variable: "sublead_jetPt",20,0,500000
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3
  %DataType: ASIMOV

Region: lep_Pt_0
  Type: VALIDATION
  Label:"lep_Pt_0"
  VariableTitle: "lepton Pt"
  Variable: "lep_Pt_0",20,0,300000
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3
  %DataType: ASIMOV

Region: lep_Pt_1
  Type: VALIDATION
  Label:"lep_Pt_1"
  VariableTitle: "lepton Pt 1"
  Variable: "lep_Pt_1",20,0,300000
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3

Region: lep_Pt_2
  Type: VALIDATION
  Label:"lep_Pt_2"
  VariableTitle: "lepton Pt 2"
  Variable: "lep_Pt_2",20,0,300000
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3

Region: MET
  Type: VALIDATION
  Label:"MET"
  VariableTitle: "E_{T}^{miss}"
  Variable: "met_met",20,0,300000
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3
  %DataType: ASIMOV

Region: HT
  Type: VALIDATION
  Label:"HT"
  VariableTitle: "H_{T}"
  Variable: "HT",20,200000,1300000
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3

Region: Mll01
  Type: VALIDATION
  Label:"Mll01"
  VariableTitle: "M(l_{0}l_{1})"
  Variable: "Mll01",20,0,300000
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3
  %DataType: ASIMOV

Region: Mll02
  Type: VALIDATION
  Label:"Mll02"
  VariableTitle: "M(l_{0}l_{2})"
  Variable: "Mll02",20,0,300000
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3
  %DataType: ASIMOV

Region: nJets
  Type: VALIDATION
  Label:"nJets"
  VariableTitle: "nJets_OR_fixed"
  Variable: "nJets_OR_fixed",12,0,12
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3
  %DataType: ASIMOV

Region: nbJets
  Type: VALIDATION
  Label:"nbJets"
  VariableTitle: "nJets_OR_DL1r_70"
  Variable: "nJets_OR_DL1r_70_fixed",6,0,6
  Selection: XXX_TRIGGER_SELECTION && XXX_LLLNTAU_BASIC_SELECTION && trilep_type && abs(total_charge)==1 && total_leptons==3
  %DataType: ASIMOV

Region: jet_pt                                                                                                               
  Type: VALIDATION                                                                                                           
  Label:"jet_pt"                                                                                                             
  VariableTitle: "jet_pt"
  Variable: "jet_pt",25,0,250000                            
  Selection: abs(jet_eta)<2.4 && jet_pt>10e3 && jet_jvt>0.59 && total_leptons==3
  %Selection: XXX_TRIGGER_SELECTION && MVA2lSSMarseille_weight_ttV_2>-1 && XXX_LLSSNTAU_BASIC_SELECTION                      
  %DataType: ASIMOV

Region: jet_pt15                                                                                                             
  Type: VALIDATION
  Label:"jet_pt15"                                                                                                           
  VariableTitle: "jet_pt"
  Variable: "jet_pt",30,0,225000                                                                                             
  Selection: abs(jet_eta)<2.4 && jet_pt>15e3 && jet_jvt>0.59 && total_leptons==3
  %Selection: XXX_TRIGGER_SELECTION && MVA2lSSMarseille_weight_ttV_2>-1 && XXX_LLSSNTAU_BASIC_SELECTION
  %DataType: ASIMOV

Region: jet_eta                                                                                                              
  Type: VALIDATION                                                                                                           
  Label:"jet_eta"                                                                                                            
  VariableTitle: "jet_eta"
  Variable: "jet_eta",30,-5,5                                                                                                
  Selection: abs(jet_eta)<2.4 && jet_pt>10e3 && jet_jvt>0.59 && total_leptons==3
  %Selection: XXX_TRIGGER_SELECTION && MVA2lSSMarseille_weight_ttV_2>-1 && XXX_LLSSNTAU_BASIC_SELECTION                      
  %DataType: ASIMOV

